body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://i.gifer.com/QlQV.gif);
    background-size: cover;
    backdrop-filter: blur(6px);
    font-family: 'Ubuntu', sans-serif;
}

.display {
    height: 110vh;
    width: 100vw;
}

/* CURRENT WEATHER */
.box {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.600);
    color: white;
    box-shadow: 0px 0px 15px black;
    outline: 1px solid black;
    height: 53%;
}

.search-button {
    max-width: 150px;
}

/* FORECAST WEATHER */
.forecast {
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
    box-shadow: 0px 0px 15px black;
    outline: 1px solid black;
    height: 53%;
}

.day {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.forecast-icon {
    position: relative;
    bottom: 8px;
}